{% extends 'base.html' %}

{% block content %}
<!-- Header-->
<header class="bg-dark py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-white">
            <h1 class="display-4 fw-bolder">Your Shopping Cart</h1>
        </div>
    </div>
</header>
<div class="container py-5">
    {% if cart_products %}
    <div class="row">
        <div class="col-lg-9">
            {% for product in cart_products %}
            <div class="card mb-3">
                <div class="row g-0">
                    <div class="col-md-4">
                        <img src="{{ product.image.url }}" class="img-fluid rounded-start" alt="{{ product.name }}">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title">{{ product.name }}</h5>
                            <p class="card-text">
                                {% if product.for_sale %}
                                <span style="text-decoration: line-through;">${{ product.price }}</span>
                                Price: ${{ product.current_price }}
                                {% else %}
                                Price: ${{ product.price }}
                                {% endif %}
                            </p>
                            <div class="d-flex justify-content-between align-items-center">
                                <button class="btn btn-outline-danger">Remove</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        <div class="col-lg-3">
            <!-- Cart summary -->
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Summary</h5>
                </div>
            </div>
        </div>
        {% else %}
        <div class="container my-3" style="min-height: calc(100vh - 436px);">
            <div class="row">
                <div class="text-center">
                    <h3><strong>Your Cart is Empty</strong></h3>
                    <h4>Add something to make me happy :)</h4>
                    <a href="{% url 'home' %}" class="btn btn-primary cart-btn-transform m-3">Continue To Shopping</a>
                </div>
            </div>
        </div>

        {% endif %}
    </div>
</div>


{% endblock %}