{% extends 'base.html' %}

{% block content %}

<!-- content -->
<section class="py-5">
    <div class="container">
        <div class="row gx-5">
            <aside class="col-lg-6">
                <div class="border rounded-4 mb-3 d-flex justify-content-center">
                    <img style="width: 100%; height: auto; aspect-ratio: 4/5; object-fit: cover;"
                         class="rounded-4 fit"
                         src="{{ product.image.url }}"/>
                </div>

            </aside>

            <main class="col-lg-6">
                <div class="ps-lg-3">
                    <h4 class="title text-dark">
                        {{ product.name }}
                    </h4>

                    <div class="row">
                        <dt class="col-3">Price:</dt>
                        <dd class="col-9">
                            {% if product.for_sale %}
                            <span style="text-decoration: line-through;">${{ product.price }}</span>
                            ${{ product.current_price }}
                            {% else %}
                            ${{ product.price }}
                            {% endif %}
                        </dd>

                        <dt class="col-3">Type:</dt>
                        <dd class="col-9">Digital</dd>

                        <dt class="col-3">Resolution:</dt>
                        <dd class="col-9">%max%</dd>

                        <dt class="col-3">Description:</dt>
                        <dd class="col-9">{{ product.description }}</dd>
                    </div>

                    <hr/>

                    <button href="#" value="{{ product.id }}" id="add_cart" class="btn btn-primary shadow-0">Add to cart</button>
                    <button href="#" value="{{ product.id }}" id="buy_now" class="btn btn-secondary shadow-0">Buy now</button>


                </div>
            </main>
        </div>
    </div>
</section>

{% endblock %}
